body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:4519px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5033_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1006px;
  height:731px;
}
#u5033 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:72px;
  width:1006px;
  height:731px;
  display:flex;
}
#u5033 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5033_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5034_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u5034 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:27px;
  width:129px;
  height:45px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u5034 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5034_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5035_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u5035 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:851px;
  width:417px;
  height:45px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u5035 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5035_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5036_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1004px;
  height:679px;
}
#u5036 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:919px;
  width:1004px;
  height:679px;
  display:flex;
}
#u5036 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5036_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5037_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:589px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5037 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:990px;
  width:381px;
  height:589px;
  display:flex;
}
#u5037 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5037_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5038_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u5038 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1656px;
  width:257px;
  height:45px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u5038 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5038_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5039_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1004px;
  height:679px;
}
#u5039 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1724px;
  width:1004px;
  height:679px;
  display:flex;
}
#u5039 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5039_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5040_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:176px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u5040 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:969px;
  width:386px;
  height:176px;
  display:flex;
}
#u5040 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5040_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5041_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1004px;
  height:679px;
}
#u5041 {
  border-width:0px;
  position:absolute;
  left:1491px;
  top:919px;
  width:1004px;
  height:679px;
  display:flex;
}
#u5041 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5041_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5042_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u5042 {
  border-width:0px;
  position:absolute;
  left:1491px;
  top:851px;
  width:321px;
  height:45px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u5042 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5042_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5043_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5043 {
  border-width:0px;
  position:absolute;
  left:2095px;
  top:990px;
  width:379px;
  height:53px;
  display:flex;
}
#u5043 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5043_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5044_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
  text-align:left;
}
#u5044 {
  border-width:0px;
  position:absolute;
  left:2116px;
  top:1061px;
  width:335px;
  height:24px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
  text-align:left;
}
#u5044 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5044_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5045_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:32px;
  background:inherit;
  background-color:rgba(248, 249, 251, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5045 {
  border-width:0px;
  position:absolute;
  left:2423px;
  top:1128px;
  width:28px;
  height:32px;
  display:flex;
}
#u5045 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5045_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5046_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:32px;
  background:inherit;
  background-color:rgba(248, 249, 251, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5046 {
  border-width:0px;
  position:absolute;
  left:2423px;
  top:1200px;
  width:28px;
  height:32px;
  display:flex;
}
#u5046 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5046_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5047_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:366px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u5047 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:1775px;
  width:386px;
  height:366px;
  display:flex;
}
#u5047 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5047_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5048_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1004px;
  height:679px;
}
#u5048 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2548px;
  width:1004px;
  height:679px;
  display:flex;
}
#u5048 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5048_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5049_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u5049 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2492px;
  width:257px;
  height:45px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u5049 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5049_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5050_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:366px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u5050 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:2616px;
  width:386px;
  height:366px;
  display:flex;
}
#u5050 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5050_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5051_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:27px;
  background:inherit;
  background-color:rgba(247, 244, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5051 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:2733px;
  width:44px;
  height:27px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5051 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5051_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5052_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1004px;
  height:679px;
}
#u5052 {
  border-width:0px;
  position:absolute;
  left:1504px;
  top:2548px;
  width:1004px;
  height:679px;
  display:flex;
}
#u5052 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5052_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5053_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u5053 {
  border-width:0px;
  position:absolute;
  left:1504px;
  top:2492px;
  width:129px;
  height:45px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u5053 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5053_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:594px;
}
#u5054 {
  border-width:0px;
  position:absolute;
  left:2108px;
  top:2616px;
  width:387px;
  height:594px;
  display:flex;
}
#u5054 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5054_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5055_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:45px;
  background:inherit;
  background-color:rgba(250, 250, 252, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5055 {
  border-width:0px;
  position:absolute;
  left:2326px;
  top:2769px;
  width:48px;
  height:45px;
  display:flex;
}
#u5055 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5055_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5056_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:366px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u5056 {
  border-width:0px;
  position:absolute;
  left:2532px;
  top:2595px;
  width:386px;
  height:366px;
  display:flex;
}
#u5056 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5056_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5057_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1004px;
  height:679px;
}
#u5057 {
  border-width:0px;
  position:absolute;
  left:3114px;
  top:2531px;
  width:1004px;
  height:679px;
  display:flex;
}
#u5057 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5057_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5058_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u5058 {
  border-width:0px;
  position:absolute;
  left:3114px;
  top:2475px;
  width:129px;
  height:45px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u5058 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5058_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5059_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:594px;
}
#u5059 {
  border-width:0px;
  position:absolute;
  left:3718px;
  top:2599px;
  width:387px;
  height:594px;
  display:flex;
}
#u5059 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5059_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5060_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:366px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u5060 {
  border-width:0px;
  position:absolute;
  left:4133px;
  top:2577px;
  width:386px;
  height:366px;
  display:flex;
}
#u5060 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5060_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
