body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:2400px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2400px;
  height:1760px;
}
#u5023 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2400px;
  height:1760px;
  display:flex;
}
#u5023 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5023_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:126px;
}
#u5024 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:238px;
  width:126px;
  height:126px;
  display:flex;
}
#u5024 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5024_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5025_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u5025 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:301px;
  width:40px;
  height:40px;
  display:flex;
}
#u5025 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5025_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5026_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:50px;
  background:inherit;
  background-color:rgba(248, 249, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u5026 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:364px;
  width:202px;
  height:50px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u5026 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5026_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5027_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:126px;
}
#u5027 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:801px;
  width:126px;
  height:126px;
  display:flex;
  color:#FFFFFF;
}
#u5027 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5027_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5028 {
  position:absolute;
  left:0px;
  top:937px;
}
#u5028_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:202px;
  height:150px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5028_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5029_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:50px;
  background:inherit;
  background-color:rgba(248, 249, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u5029 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:50px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u5029 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5029_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5030_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:50px;
  background:inherit;
  background-color:rgba(248, 249, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u5030 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:202px;
  height:50px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u5030 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5030_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5031_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:50px;
  background:inherit;
  background-color:rgba(248, 249, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u5031 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:202px;
  height:50px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u5031 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5031_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5032_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:9px;
}
#u5032 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:859px;
  width:16px;
  height:9px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u5032 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5032_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
